---
import MainHead from "../components/main-head.astro";
import Nav from "../components/nav.astro";
import Footer from "../components/footer.astro";
import Sylwer from "../components/sylwer.jsx";
import ContactSection from "../components/contact-section.astro";
import '../styles/global.css'
---

<html lang="en">

<head>
    <MainHead />
</head>

<body class="min-h-screen flex flex-col">
    <Nav />
    <header class="bg-brand-100 px-5 py-5 sm:py-14">
        <div
            class="container mx-auto flex justify-between max-w-screen-lg flex-col-reverse sm:flex-row text-center sm:text-left gap-8 sm:gap-0">
            <div class="grow max-w-md flex flex-col gap-8 mx-auto">
                <h2 class="text-white text-xl">
                    <div>Sylwia Pekala</div>
                    <small>Senior Product Designer</small>
                </h2>
                <h1 class="text-white text-2xl sm:text-4xl">Solving human problems <br />in digital space</h1>
                <p class="text-white text-base">Recently Senior Digital Product Designer at <strong
                        class="whitespace-nowrap">the LEGO Group</strong>
                </p>
            </div>
            <Sylwer />
        </div>
    </header>
    <main class="grow">
        <section aria-label="Resume" class="bg-brand-50 px-5 py-14">
            <div class="container mx-auto max-w-screen-md flex flex-col gap-8">
                <p class="text-white">
                    I’m a UX researcher, strategist and a UI designer. In my recent position as a Senior Digital
                    Designer at the LEGO Group I have been building on my knowledge of product management, team architecture
                    and design thinking in practice.
                </p>
                <p class="text-white">
                    I recently moved from Denmark to Poland to be closer with my family and to challenge myself making
                    use of my experience and approach that I built on over the last 10 years abroad in a new
                    surrounding.
                </p>
            </div>
            <div class="text-white container mx-auto max-w-lg py-14 flex flex-col gap-5">
                <div class="flex justify-between">
                    <div class="font-semibold grow w-full">
                        <div>Senior Digital Product Designer</div>
                        <div class="text-pink-300">LEGO Group</div>
                    </div>
                    <div class="whitespace-nowrap">2018-2022</div>
                </div>
                <div class="flex justify-between">
                    <div class="font-semibold grow w-full">
                        <div>UI/UX Designer</div>
                        <div class="text-pink-300">Bestseller</div>
                    </div>
                    <div>2018</div>
                </div>
                <div class="flex justify-between">
                    <div class="font-semibold grow w-full">
                        <div>UI/UX Designer</div>
                        <div class="text-pink-300">Bundl IvS</div>
                    </div>
                    <div>2017</div>
                </div>
                <div class="flex justify-between">
                    <div class="font-semibold grow w-full">
                        <div>Graphic and Web Designer</div>
                        <div class="text-pink-300">Klinikker.dk</div>
                    </div>
                    <div>2016</div>
                </div>
                <div class="flex justify-between">
                    <div class="font-semibold grow w-full">
                        <div>BA in Design Technology</div>
                        <div class="text-pink-300">Copenhagen School of Design and Technology</div>
                    </div>
                    <div class="whitespace-nowrap">2012-2016</div>
                </div>
                <div class="flex justify-between">
                    <div class="font-semibold grow w-full">
                        <div>MA in Linguistics</div>
                        <div class="text-pink-300">University of Gdansk</div>
                    </div>
                    <div class="whitespace-nowrap">2007-2012</div>
                </div>
            </div>

        </section>
        <section aria-label="Portfolio Teaser">
            <div class="container mx-auto flex sm:flex-row flex-col items-center px-5 py-14 justify-center gap-10">
                <img class="w-60" src="/assets/ipad.png" />
                <div class="max-w-sm text-center">
                    <p class="text-brand-100 text-2xl">See some of my work and how I solved related problems</p>
                    <a href="/portfolio"
                        class="font-semibold bg-brand-100 py-5 px-16 inline-block text-white leading-none mt-8">View
                        portfolio</a>
                </div>
            </div>
        </section>
        <ContactSection />
    </main>
    <Footer />
</body>

</html>