<section aria-label="Contact" class="bg-brand-100">
    <div class="container mx-auto flex flex-col items-center px-8 py-14 justify-center">
        <p class="text-center text-white text-2xl">
            Want to chat or have a question?<br />
            Let’s catch up!
        </p>
        <a href="mailto:"
            class="font-semibold bg-brand-100 py-5 px-16 inline-block text-white leading-none mt-8 border-2 border-pink-300">Send
            me an
            email</a>
    </div>
</section>